#container {
    font-family: "Courier New";
    padding-left: 40%;
}

#search-bar {
    border-radius: 12px;
    padding: 5px;
    border: 1px solid lightgrey;
}

.recipe-item {
    border: 1px solid lightgrey;
    width: 40%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipe-title {
    font-weight: bold;
}

.recipe-subtitle {
    font-size: 90%;
}

#add-recipe-btn {
    background-color: lightgrey;
    border: 1px solid grey;
    padding: 5px 10px 5px 10px;
}